/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
                                START MOBILE STYLE
   ========================================================================== */

         /*----------------------Commun style-----------------
           --------------------------------------------------*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }



            /*----------------------Header style-----------------
           --------------------------------------------------*/ 
header
{
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgb(243,243,242);
    box-shadow: 3px 5px rgb(249,247,242);
    background-image: url(../img/bg.png) no-repeat;
   

    
}
header .haut_header
{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

header  .haut_header .menu_mobile .nav_mobile, .blogprincipal .asidenomobile
{
    display:none;
}

.nomobile, .pointure 
{
    display: none;
}

header .haut_header .menu_mobile a
{
    width: 20%;
    height: 20px;
    font-size: 30px;
    color: black;
}
header  .haut_header aside
{
    width: 70%;
    height: 100%;
   

}
header aside img
{
    width: 100%;
    height: 130%;
    margin-left: 40px;
    margin-bottom: 20px;


}

header .icone_mobile
{
    width: 20%;
    display: inline-block;
    height: 25px;
}
header .icone_mobile i
{
   float: right;
}

header .icone_mobile span
{
  background-color: rgb(179,88,96);
  padding:0px;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  float: right;
  position:absolute;
  right: 5px;
  top: 6px;
  
}
/*----------------------pricipal section style-----------------
           --------------------------------------------------*/ 

 .principal          
{
  width: 95%;
  margin: auto;
  background-image: url(../img/bg2.png);
  background-size:contain;

}

.principal h1
{
  font-size: 25px;
  font-family: 'Averia Serif Libre', cursive;
  line-height: 1.42;
}
 .principal .principal1
{
  width: 100%;
  margin: auto;
}
.principal1 aside 
{
 
 width: 100%;

}
.principal1 aside ul
{
  list-style-type: none;
  display :flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.principal1 aside ul li
{
  width: 65px;
  height: 30px;
  padding: 2px;
  margin:2px;
  border:1px solid transparent;
  border-radius: 3px;
  background-color: rgba(239,239,239,0.7);
  text-align: center;
}
.principal1 aside a
{
  text-decoration: none;
  
  font-size: 13px;

  
  color:rgb(185,185,185);



}
.principal1 aside #toute
{
  background-color: rgb(74,74,76);
  color:#fff;
}

.principal1 aside li:hover 
{
  background-color: rgb(74,74,76);
  
}
.principal1 aside li:hover a

{
  color:#fff;
}




        /*----------------------accuielsect style-----------------
           --------------------------------------------------*/ 
.principal1 .accuielsect
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin:auto;
  
}

.accuielsect .chaussette
{
  width:48%;
}

      /*------------style for price chauss-------*/


           /*------------style for figure-------*/

.accuielsect .chaussette figure 
{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center; 
}
.accuielsect .chaussette figure .prix
{
  width: 65px;
  height: 25px;
  padding: 2px;
  font-size: 12px;
  text-align: center;
  border:1px solid transparent;
  border-radius: 3px;
  background-color: rgba(239,239,239,0.7);
  color:rgb(185,185,185);
  align-self: flex-end;
 

}
.accuielsect .chaussette figure .prix .material-icons
{
  font-size: 12px;

}
.accuielsect .chaussette figure img
{
  width:100%;

}
           
           /*------------style for name chauss-------*/
.accuielsect .chaussette figure   .nom_chausette 
{
  font-style: italic;
  color:#555555;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
}
.accuielsect #troischauss
{
  width: 100%;
}
.accuielsect #troischauss img
{
  width: 100%;
}



            /*----------------------style footer for moblie-------
           --------------------------------------------------*/ 

footer
{
  width: 95%;
  margin: 50px auto;
  background-image: url(../img/bg.png);

}

          /*-------------------start first sect footer------------*/
footer .foot1
{
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .foot1 .lien_service
{
   width: 230px;
   padding: 20px 30px;
   line-height: 1.2em;
   height: 75px;
   margin-bottom: 10px;
   background-color: rgb(247,247,247);
   border-radius: 10px;
   text-align: center;
   display:flex;
}
footer .foot1 .lien_service img
{
  width: 30%;
}
footer .foot1 .lien_service a
{
   max-width: 215px;
   margin:auto;
   text-decoration: none;
   font-size: 13px;
   color:rgb(200,195,195);
}
footer .foot1 .lien_service a:hover
{
  color: rgb(74,74,76);
}


    /*-------------------start second sect footer------------*/

footer .foot2
{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:30px auto;
}
footer .foot2  .dev, footer .foot2  .input, footer .foot2  .condgeneral
{
  
  width: 80%;
  color: rgb(176,176,176);
  font-size: 12px;
  display:flex;
  justify-content:  center;
   font-style: italic;

}

footer .foot2  .condgeneral a
{
  text-decoration: none;
  color: rgb(176,176,176);
  font-size: 11px;

}
footer .foot2  .input input[placeholder]
{
  font-size:12px;
}
footer .foot2  .input input
{
  width: 250px;
  padding: 5px;
}
footer .foot2  .input button
{
  height: 32px;
}

               /*----------------------start Blog page style for mobile-------------------
                 -------------------------------------------------------------*/

         /*----------header of blog------------*/

  header  .haut_header #asideblog
{
    width: 70%;
    height: 100%;
    

}
header #asideblog img
{
    width: 100%;
    height: 130%;
    margin:0 auto;
    margin-bottom: 20px;


}
      /*----------blogricipal  of blog for mobile------------*/

.blogprincipal .asidenomobile
{
  display: none;
}
.blogprincipal 
{
      width: 93%;
      margin: auto;
}
.blogprincipal .sectblogarticle
{
      width: 93%;
      margin:auto;
}
 .blogprincipal .sectblogarticle .blogarticle
 {
    width: 93%;
    margin:auto;
    text-align: justify;
 }

.blogprincipal .blogarticle h3, .blogprincipal .blogarticle h3 a
{
 
    color:rgb(203,204,198);
    font-size: 15px;
}
.blogprincipal .blogarticle h3 a
{
    text-decoration: none;
}

.blogprincipal .blogarticle .blogtexte
{
    font-size: 13px;
    color: #454545;
}
.blogprincipal .blogarticle .imgblog
{
    border:1px solid #babbb7;
    width: 100%;
    padding:3px 8px;
    margin: 20px auto;
}

.blogprincipal .blogarticle img
{
    width: 100%;
    height: 100%;
    margin:6px auto;
    
}
.blogprincipal .blogarticle ul
{
  margin: 0 5%;
  font-size: 13px;
}









        /* ==========================================================================
                                START Tablette STYLE
          ========================================================================== */


          /*---------------------- style header for tablette-----------------
           --------------------------------------------------*/
           /* without change

           
           /*--------------------style principal section in index.html -------------------
           --------------------------------------------------*/ 
 @media (min-width: 720px)
 {
  .accuielsect #troischauss
    {
      width: 65%;
      height: auto;
    }
  .accuielsect .chaussette
    {
      width:32%;
  

    }
  .accuielsect .chaussette figure, .accuielsect #troischauss  img, .accuielsect .chaussette figure img
     
    {
      width:100%; 

   }
  
    
  .accuielsect #troischauss  img
    {
   
      height: 100%;
    }


    .pointure
    {
      display:flex;
      margin: 10px auto;
      width: 70%;
      justify-content: center;
      align-content: center;
 
      }

    .point
    {
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 2px;
      width: 20px;
      height: 30px;
      margin-right: 5px;
    }

     .point:hover
    {
      height: 35px;     

    }
    .haut , .bas
    {
      text-align: center;
      width: 15px;
      align-self: center;

      font-size: 11px;
      color:rgb(241,247,254);


    }
    .haut
    {
        border-bottom:   1px solid rgb(241,247,254);
    }
        /* class for couleur*/
.rose
{
  background-color: rgb(237,213,213);
}
.rougemai
{
  background-color: rgb(132,10,25);

}
 .rosefram
 {
  background-color: rgb(197,30,81);
 }
 .rosepanth
 {
  background-color:  rgb(246,140,166);
 }
 .auber
 {
  background-color: rgb(107,21,60);
 }
 .mauv
 {
  background-color: rgb(192,19,76);
 }
 .jmauv
 {
  background-color: rgb(180,151,173);
 }
  
.violet
{
  background-color:  rgb(167,68,123);
}
.ultra
{
  background-color: rgb(170,100,170);
}
.violetv
{
  background-color: rgb(161,144,196);
}
.bleu13
{
  background-color: rgb(107,153,212);
}
.bleupetit
{
  background-color:rgb(221,235,250) ;

}
.bleutur
{
  background-color: rgb(47,161,187);
}
.bleucana
{
  background-color: rgb(43,162,184);
}
.orangci
{
  background-color: rgb(231,64,30);
}
.rougecar
{
  background-color: rgb(178,11,11);
}
.rougeb
{
  background-color: rgb(189,58,47);
}

    .accuielsect .chaussette figure   .nom_chausette
    {
        font-size: 13px;
    }
      
           /*--------------------style footer for tablette in index.html-------------------
           --------------------------------------------------*/ 
  
   
footer .foot1 .lien_service
{
      width: 300px;

}
footer .foot2
{
  
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
 } 
footer .foot2  .dev, footer .foot2  .input, footer .foot2  .condgeneral
{
  
      width:28%;
      justify-content: flex-start;
 } 
 footer .foot2  .input input
 {
      width: 200px;
      padding: 2px;

  }
footer .foot2  .input button
{
      height: 28px;

}
        /*--------------------style blogprincipal section  for tablette in blog.html -------------------
           --------------------------------------------------*/ 
  

.blogprincipal .sectblogarticle .blogarticle .blogtexte
{
    font-size: 14px;

 } 
  .blogprincipal  .sectblogarticle .blogarticle ul

{
    font-size: 15px; 
  
}
footer .foot2 .noblog
{

    display: none;
}



}





/* ==========================================================================
                START DESKTOP STYLE
   ========================================================================== */

@media (min-width: 1024px)
{

      
  /*--------------------style header for DESKTOP-------------------
           --------------------------------------------------*/ 
  


    header
    {
      width: 100%;
      height: 190px;
      background-image: url(../img/bg.png);
       display:flex;
       flex-direction: column;
       justify-content: space-between;
    }

    header .haut_header
    {
      display: flex;
      justify-content:space-around;
      align-content:  center;
      height: 100px;
      width: 95%;
      margin: auto;
     
     }
 

    header .haut_header .menu_mobile, header .haut_header .icone_mobile
    {
        display: none;
    }


            /*------------style logo in the header----------*/



    header .haut_header aside, header .haut_header #asideblog
    {
        width: 25%;
        height: 100%;
        margin-top: 20px;
   
    }
    header aside img, header  #asideblog img
    {
        width: 100%;
        height: 100%;
        margin-left: 0px;
     
    }


    

                 /*------------style  lien of header---------*/
    header .haut_header .lien
    {
        display:flex;
        width: 35%;
        margin-left: 20px;
        margin-top: auto;
        
    }

    header .lien ul
    {
        list-style-type: none;
        display:flex;
        width: 100%;
        justify-content: space-between; 
        margin-left: 15px;

    }
    
    header .lien ul li
    {
         padding: 5px 14px;
         border-radius: 6px;

         

    }
    header .lien ul .actif
    {
          background-color: white;
      
    }
    header .lien ul .actif a
    {
          color:black;
    }

    header .lien ul li:hover
    {
      
          background-color: white;
    }
    header .lien ul li a
    {
          color: rgb(133,127,126);
          font-family: 'Averia Serif Libre', cursive;
          text-decoration: none;
          font-size: 18px;

    } 
    header .lien span
    {
          /*float: right;*/
          font-size: 6px;
          padding: 2px;
          height: 15px;
          border-radius: 2px;
          background-color:rgb(252,224,221);
          color: rgb(179,88,96);
          position: relative;
          z-index: 999;
          top: 0px;
          right:31px; 
    }
           /*-------------- style bienvenu div of desktop----------*/
  .bienvenu 
  {
          display: block;
          width: 300px;
          height: 120%; 
  }

  .bienvenu .hautbienvenu

  {
        background-image: url(../img/ticket-repeat.png);
        width: 100%;
        height: 80%;
        padding: 8px ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

  }

  .bienvenu .basbienvenu
  {
        background-image: url(../img/ticket-bas.png);
        width: 100%;
        height: 20%;
  }

  .hautbienvenu .select-connexion
  {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;   
    
  }
  .hautbienvenu .select-connexion #langue
  {
        border:none;
        background-color: rgb(179,88,96);
        font-size: 12px;
        height: 18px;
        width: 40px;

  }
  .hautbienvenu .select-connexion .connexion p, .hautbienvenu .select-connexion .connexion a
   {
        color: rgb(179,88,96);
        font-size: 10px;  
   }
  
  .hautbienvenu .select-connexion .connexion a
  {
        text-decoration: underline;
  }
  
  .hautbienvenu .produitpanier
  {
        display: flex;
        justify-content: center;
        background-image: url(../img/stabilo.png)  no-repeat;
        background-size: cover;
  }
  .hautbienvenu .produitpanier .quantite
  {
        width: 15%;
        font-size: 30px;
        color: rgb(179,88,96);
      
        text-align: center;
        
  }

  .hautbienvenu .produitpanier .nobproduit
  {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: rgb(179,88,96);
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 10px;
   } 

   .hautbienvenu .produitpanier .nobproduit p a
   {
        text-decoration: none;
        color: rgb(179,88,96);
   }  
   .hautbienvenu .produitpanier .nobproduit p i
   {
        font-size: 10px
   }
   .hautbienvenu .produitpanier .nobproduit .frais
   {
        font-size: 11px;
        color: rgb(130,124,123);
        font-style: italic;
     
   }



     /*---------------------style menu of header--------------*/

    header .menu
    {
          display:block;
          width:95%;
          margin: auto;
          margin-top: 30px; 
        
    }
    header .menu ul 
    {
          list-style-type: none;
          width: 95%;
          height: 62px;
          margin:auto;
          display: flex;
          justify-content: space-around;

    }
    header .menu li
    {
           display:flex;
           justify-content: flex-start;
           width: 175px;
           height: 60px;
           padding: 7px 0 0 8px;
           background-color:rgb(231,227,228); 
           border-radius: 5px 5px 0px 0px ; 
    }
    header .menu li a
    {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
           font-size: 18px;
           font-style: italic;
          color:rgb(120,120,120);
          font-family: 'Averia Serif Libre', cursive;
    }
    header .menu li a  span
    {
          font-size: 10px;
    }
    header .menu li img
    {
           width:50px;
           height:50px; 
    }
    header .menu li:hover
    {
          font-weight: bold;

    }
    header .menu li:hover  img
    {
            height: 55px;
    }
    


/*--------------------style pricipal section for DESKTOP-------------------
           --------------------------------------------------*/ 

    
    .principal
    {
      width: 90%;
    }
    .principal1
    {
          display: flex;
          justify-content: flex-end;
          width: 100%;
    }

    .principal1 aside
    {
          position: fixed;
          width: 8%;
          right: 0;
          top: 10;
    }
    .principal1 aside ul
    {
          list-style-type: none;
          display :flex;
          flex-direction: column;
          justify-content: flex-start;
      }
    .accuielsect
    {
          width: 100%;
          order:-1;
          display: flex;
          justify-content:center;
          
    }
   .accuielsect #troischauss
    {
          width: 45%;
          height: 260px;
    }
  .accuielsect .chaussette
    {
          width:20%;
          margin:0 2.5%;
          

    }
    .accuielsect .chaussette figure
    {
          width: 95%;
    }
  

/*--------------------style footer  in index.htmlfor DESKTOP-------------------
           --------------------------------------------------*/ 


      footer .foot1
      {
          width: 90%;


      }
      footer .foot1 .lien_service a
      {
        font-size: 15px;
        font-style: italic;
      }
      footer .foot2
      {
        color: rgb(74,74,76);
      }



      /*--------------------style blog.html for DESKTOP-------------------
           --------------------------------------------------*/ 


                      /*--------style header for blog.html------*/


     

                              
     #blogbienvenu #bloghautbienvenu .lienbienblog
    {
      color:rgb(179,96,120);
      text-decoration: none;
      font-size: 18px;
      margin: auto;
    }
  

                       /*-----------------style principal section in blog.html---------*/
    .blogprincipal
    {

      display: flex;
      justify-content: space-around;
      margin-top:30px;
      
    }
   .blogprincipal .asidenomobile
   {
     
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex:1;
      
   }

   .blogprincipal .sectblogarticle
   {
      
      order: -1;
      flex: 2;
     

   }
  .blogprincipal .asidenomobile .blognav .categorie h4, .blogprincipal .asidenomobile .blognav .categorie span
    {
      color:rgb(105,105,105);

    }

   .blogprincipal .asidenomobile .blognav .categorie h4 
   {
       font-size: 20px;
   }
   .blogprincipal .asidenomobile ul 
   {
      list-style-type: none;

   }
   .blogprincipal .asidenomobile ul  li
   {
       margin:10px;
   }
    .blogprincipal .asidenomobile ul  li a
  {
      text-decoration: none;
      font-size: 16px;
  }






}









/* ==========================================================================
   START LAPTOP STYLE
   ========================================================================== */
 /*==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
