/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
                                START MOBILE STYLE
   ========================================================================== */

         /*----------------------Commun style-----------------
           --------------------------------------------------*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }



            /*----------------------Header style-----------------
           --------------------------------------------------*/ 
header
{
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgb(243,243,242);
    box-shadow: 3px 5px rgb(249,247,242);
    /*background-color: rgb(249,247,247);*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header  .menu_mobile .nav_mobile
{
    display:none;
}

.nomobile{
    display: none;
}

header .menu_mobile a
{
    width: 20%;
    height: 20px;
    font-size: 30px;
    color: black;
}
header aside
{
   width: 70%;
   height: 100%;
   /*background: url(../img/logo.svg) 50% no-repeat;
   background-size: contain;*/

}
header aside img
{
    width: 100%;
    height: 130%;
    margin-left: 40px;
    margin-bottom: 20px;


}

header .icone_mobile
{
    width: 20%;
    display: inline-block;
    height: 25px;
}
header .icone_mobile i
{
   float: right;
}

header .icone_mobile span
{
  background-color: rgb(179,88,96);
  padding:0px;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  float: right;
  position:absolute;
  right: 5px;
  top: 6px;
  
}
/*----------------------pricipal section style-----------------
           --------------------------------------------------*/ 

 .principal          
{
  width: 95%;
  margin: auto;

}
.principal h1
{
  font-size: 25px;
  font-family: 'Averia Serif Libre', cursive;
  line-height: 1.42;
}
.principal aside 
{
 display :flex;
 flex-wrap: wrap;
 width: 100%;
 justify-content: flex-start;

}
.principal aside a
{
  text-decoration: none;
  width: 65px;
  height: 30px;
  padding: 2px;
  font-size: 13px;
  text-align: center;
  margin:2px;
  border:1px solid transparent;
  border-radius: 3px;
  background-color: rgba(239,239,239,0.7);
  color:rgb(185,185,185);



}
.principal aside #toute
{
  background-color: rgb(74,74,76);
  color:#fff;
}

.principal aside a:hover
{
  background-color: rgb(74,74,76);
  color:#fff;
}






        /*----------------------accuielsect style-----------------
           --------------------------------------------------*/ 
.principal .accuielsect
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  
}

.accuielsect .chaussette
{
  width:50%;
  border:1px solid red;


}
.accuielsect .chaussette .prix
{
  width: 65px;
  height: 30px;
  padding: 2px;
  font-size: 13px;
  text-align: center;
  border:1px solid transparent;
  border-radius: 3px;
  background-color: rgba(239,239,239,0.7);
  color:rgb(185,185,185);
  float: right;
  right: 50px;
  

}
.accuielsect .chaussette .prix i
{
  font-size: 13px;
}
.accuielsect .chaussette figure 
{
  width: 80%;
  border:1px solid green;
  margin: auto;
  display: flex;
  flex-direction:column;
  justify-content: center; 
}
.accuielsect .chaussette figure img
{
  width:100%;

}

.accuielsect .chaussette figure  span
{
  margin:auto;
}

.accuielsect .chaussette figure   .nom_chausette 
{
  font-style: italic;
  color:#555555;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}
.accuielsect .imgtrois
{
  width: 100%;
}
.accuielsect .imgtrois img
{
  width: 100%;
}



            /*----------------------Commun style-----------------
           --------------------------------------------------*/ 



            /*----------------------Commun style-----------------
           --------------------------------------------------*/
           /*----------------------Commun style-----------------
           --------------------------------------------------*/ 
 

















/* ==========================================================================
   START TABLET STYLE
   ========================================================================== */
/* ==========================================================================
   START LAPTOP STYLE
   ========================================================================== */
 /*==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
